h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-image: url("cric5.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: bisque;
}